a=float(input('Digite um numero: '))
b=float(input('Digite um numero: '))
c=float(input('Digite um numero: '))
if a<b+c and b<a+c and c<a+b:
    if a>b and a>c:
        maior=a**2
        lados=b**2 + c**2
    else:
        if b>c:
            maior=b**2
            lados=a**2 + c**2
        else:
            maior=c**2
            lados=a**2 + b**2
        if maior==lados:
            print('retangulo')
        else:
            if maior>lados:
                print('obtusangulo')
            else:
                print('acutangulo')
else:
    print('n formam')
